<html>
<div id="review_frame">

  <!--   場所-->
  <%= form_with(model: @toilet, local: true) do |f| %>
    <% if @toilet.errors.any? %>
      <% @toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <div class="place_frame">
      <p>場所</p>
      <%= f.collection_select :name, Place.all, :name, :name %>
    </div>

    <div class="comment_frame">
      <p>コメント(1~30文字)</p>
      <%= f.text_area :comment, :placeholder => "Ex: 最高なトイレ" %>
    </div>

    <%= f.submit "送信", :class => 'submit' %>
  <% end %>
</div>
</html>




<style type="text/css">


  #review_frame {
    font-family: "Roboto";
    width: 100vw;
    height: 90vh;
    top: 10vh;
    background: white;
    position: relative;
  }

  .place_frame {
    position: absolute;
    top: 10vh;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .comment_frame {
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
  }

  #toilet_name, #toilet_comment {
    font-size: 40px;
    width: 100%;
    border-radius: 10px;
  }

  #toilet_name {
    height: 50px;
  }

  #toilet_comment {
    height: 200px;
  }

  p {
    font-size: 3vh;
    font-weight: bold;
  }

  .submit {
    bottom: 5vh;
    position: absolute;
    width: 30%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vh;
    background: #2D9CDB;
    color: #fff;
    border-radius: 10px;
  }
</style>