<html>
<div class="container">
<div id="review_frame">

  <!--   場所-->
  <%= form_with(model: @toilet, local: true) do |f| %>
    <% if @toilet.errors.any? %>
      <% @toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    <div class="place_frame">
      <p>場所</p>
      <%= f.collection_select :name, Place.all, :name, :name %>
    </div>

    <div class="comment_frame">
      <p>コメント(1~30文字)</p>
      <%= f.text_area :comment, :placeholder => "例: 最高なトイレ" %>
    </div>

    <%= f.submit "送信", :class => 'submit' %>
  <% end %>
</div>

<div id="bottom-nav">
  <div class="nav" id="home">
    <%= link_to("/", class: 'nav-change') do %>
      <i class="fas fa-home fa-3x"></i>
      <p>Home</p>
    <% end %>
  </div>


  <div class="nav" id="review">
    <%= link_to("/toilets", class: 'nav-change') do %>
      <i class="far fa-plus-square fa-3x"></i>
      <p>Review</p>

    <% end %>
  </div>
</div>
</div>

</html>




<style type="text/css">

  .container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
  }
  #review_frame {
    font-family: "Roboto";
    width: 100vw;
    height: 80vh;
    background: white;
    position: relative;
  }

  .place_frame {
    position: absolute;
    top: 10vh;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .comment_frame {
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
  }

  #toilet_name, #toilet_comment {
    font-size: 40px;
    width: 100%;
    border-radius: 10px;
  }

  #toilet_name {
    height: 50px;
  }

  #toilet_comment {
    height: 200px;
  }

  p {
    font-size: 3vh;
    font-weight: bold;
  }

  .submit {
    bottom: 10vh;
    position: absolute;
    width: 30%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vh;
    background: #2D9CDB;
    color: #fff;
    border-radius: 10px;
  }

  #bottom-nav {
    height: 10vh;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid #D4EBF8 5px;
    background: white;
  }

  .nav {
    flex: 1;
    text-align: center;

  }

  .nav :hover {
    cursor: pointer;
    background: #fff;
    color: #000;
  }

  .nav i {
    font-size: 5vh;
  }


  .nav p {
    font-size: 2vh;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0;
  }

  .nav-change {
    text-decoration: none;
    color: #fff;
  }


</style>