<p id="notice"><%= notice %></p>

<h1>Toilets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toilets.each do |toilet| %>
      <tr>
        <td><%= toilet.name %></td>
        <td><%= toilet.comment %></td>
        <td><%= link_to 'Show', toilet %></td>
        <td><%= link_to 'Edit', edit_toilet_path(toilet) %></td>
        <td><%= link_to 'Destroy', toilet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toilet', new_toilet_path %>
