<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toilet.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @toilet.comment %>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
